{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

<script src="{{ "js/custom.js" | relURL }}"></script>

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<!-- About widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">

      {{ if site.Params.features.avatar.gravatar }}
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{$person_page.Title}}">
      <div class="emoji-overlay">👋</div> <!-- Add emoji overlay here -->
      {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "270x270 Center" }}
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}"
           width="{{ $avatar_image.Width }}" height="{{ $avatar_image.Height }}"
           src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">
           <div class="emoji-overlay">👋</div> <!-- Add emoji overlay here -->
      {{ end }}

      <div class="portrait-title">

        <h2>
          {{- if $person.name_pronunciation -}}
            <ruby>
              <rb>{{ $person_page.Title }}</rb>
              <rt>{{ $person.name_pronunciation }}</rt>
            </ruby>
          {{- else -}}
            {{- $person_page.Title -}}
          {{- end -}}
        </h2>

        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      {{ with $person.location }} <!-- Check if location data exists -->
      <div class="location">
        <i class="fas fa-map-marker-alt"></i> <!-- FontAwesome icon for location -->
        <span>{{ .city }}, {{ .country }}</span> <!-- Displaying city and country -->
      </div>
      {{ end }}

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-8 slide-left">
    <div class="article-style slide-left">
      <h2 id="about-me"><strong>About Me</strong></h2>
      <p>
          Ibrahim Maïga is an AI developer with a background in mathematics, data science, and finance. His career showcases a blend of technical skills and interpersonal abilities, illustrated through various professional roles and successful projects. He demonstrates a strong ability to create innovative AI solutions, such as the Flypto Prototype, an early version of Flypto, an AI-powered cryptocurrency trading bot currently under development. Passionate about using data to create positive changes, he continues to build on his experience with a clear focus on innovation and efficiency, aiming to uniquely impact data-driven organizations.
      </p>
      <span class="btn btn-outline-primary btn-page-header btn-download slide-left">
          <i class="fas fa-download pr-1 fa-fw"></i>
          <a href="/Ibrahim_Maïga_resume.pdf" target="_blank" rel="noopener">Download Resume</a>
      </span>
    </div>
  


    <div class="row">
        <div class="col-md-5 slide-left">
            <div class="section-subheading">Interests</div>
            <ul class="ul-interests mb-0 slide-left">
                <li>Artificial Intelligence</li>
                <li>Mathematics</li>
                <li>Finance</li>
                <li>Data Science</li>
                <li>Cloud Computing</li>
            </ul>
        </div>
        
        <div class="col-md-7 slide-left">
            <div class="section-subheading">Degrees</div>
            <ul class="ul-edu fa-ul mb-0">
                <li>
                    <i class="fa-li fas fa-graduation-cap"></i>
                    <div class="description">
                        <p class="course slide-left">Postgraduate Diploma, Applied A.I. Solutions Development, 2024-2025</p>
                        <p class="institution slide-left">George Brown College</p>
                    </div>
                </li>
                <li>
                    <i class="fa-li fas fa-graduation-cap"></i>
                    <div class="description">
                        <p class="course slide-left">Honours Bachelor of Science, Financial Mathematics and Economics, 2017-2021</p>
                        <p class="institution slide-left">University of Ottawa</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
